.tileExtended {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 500px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tileExtended img {
    padding: 20px;
    width: 300px;
    height: 450px;
}